<form name="todoForm" novalidate>
  <input
    required
    id="input-todo"
    placeholder="Add new todo"
    name="todo"
    ng-model="todoItem"
    type="text"
  />

  <button
    id="submit-todo"
    ng-disabled="todoForm.$invalid"
    ng-click="todoCtrl.addTodo(todoItem)"
  >
    Submit
  </button>
</form>

<button ng-click="todoCtrl.clear()">Delete all</button>

<ul>
  <li ng-repeat="todo in todoCtrl.getTodos() track by $index">
    <span ng-if="!(todoCtrl.updateMode && todoCtrl.updateTodoIdx === $index)"
      >{{todo}}</span
    >
    <button
      ng-if="!(todoCtrl.updateMode && todoCtrl.updateTodoIdx === $index)"
      ng-click="todoCtrl.updateTodo($index)"
    >
      Update
    </button>
    <button
      ng-if="!(todoCtrl.updateMode && todoCtrl.updateTodoIdx === $index)"
      ng-click="todoCtrl.deleteTodo($index)"
    >
      Delete
    </button>
    <form
      ng-if="todoCtrl.updateMode && todoCtrl.updateTodoIdx === $index"
      name="updateTodoForm"
      novalidate
    >
      <input
        required
        id="update-todo"
        placeholder="{{todo}}"
        ng-model="updateTodoItem"
        type="text"
      />
      <button
        ng-disabled="updateTodoForm.$invalid"
        ng-click="todoCtrl.confirmUpdate($index, updateTodoItem)"
      >
        Confirm
      </button>
      <button ng-click="todoCtrl.cancelUpdate()">Cancel</button>
    </form>
  </li>
</ul>
