<div class="row">
  <div class="col-sm-12 col-md-8">
    <!-- Start of cards of existing todos -->
    <div
      class="card text-dark bg-warning"
      ng-repeat="todo in todoListCtrl.todos track by $index"
    >
      <div class="card-body">
        <span class="card-text" ng-if="!todo.isUpdating && !todo.isDone">
          {{todo.text}}
        </span>
        <del ng-if="todo.isDone">{{todo.text}}</del>
        <div class="card-footer bg-transparent" ng-if="!todo.isUpdating">
          <button
            class="btn btn-success"
            type="button"
            ng-click="todoListCtrl.toggleDoneState($index)"
          >
            Completed ?
          </button>

          <button
            class="manage-todo btn btn-secondary"
            type="button"
            ng-click="todoListCtrl.deleteTodo($index)"
          >
            Delete
          </button>

          <button
            class="manage-todo btn btn-primary"
            type="button"
            ng-disabled="todo.isDone"
            ng-click="todoListCtrl.toggleUpdateMode($index)"
          >
            Edit
          </button>
        </div>

        <!-- Form appears for specific Todo in update mode -->
        <form
          id="update-todo-form"
          ng-if="todo.isUpdating"
          name="updateTodoForm"
          novalidate
        >
          <div class="form-group">
            <input
              required
              id="update-todo"
              class="form-control"
              placeholder="{{todo.text}}"
              ng-model="updatedTodoText"
              maxlength="150"
              type="text"
            />
          </div>
          <small id="update-todo-help" class="form-text"
            >Maximum length: 150 characters</small
          >
          <div class="card-footer bg-transparent">
            <button
              id="cancel-edit"
              class="manage-todo btn btn-secondary"
              type="button"
              ng-disabled="todo.isDone"
              ng-click="todoListCtrl.toggleUpdateMode($index)"
            >
              Cancel
            </button>
            <button
              id="confirm-edit"
              class="manage-todo btn btn-primary"
              type="button"
              ng-disabled="updateTodoForm.$invalid || todo.isDone"
              ng-click="todoListCtrl.confirmUpdate($index, updatedTodoText)"
            >
              Confirm
            </button>
          </div>
        </form>
        <!-- End of update todo form -->
      </div>
      <!-- End of .card-body container -->
    </div>
    <!-- End of cards of existing todos -->
  </div>
</div>
<!-- End of .row container -->
