<div class="row">
  <div class="form-container col-sm-10 col-md-6">
    <!-- Start of new todo input form -->
    <form id="todo-form" name="todoForm" novalidate>
      <div class="form-group">
        <input
          required
          id="input-todo"
          class="form-control"
          placeholder="Add new todo"
          name="todo"
          ng-model="todoItem"
          maxlength="150"
          type="text"
        />
      </div>
      <small id="input-todo-help" class="form-text"
        >Maximum length: 150 characters</small
      >

      <button
        id="submit-todo"
        type="submit"
        class="btn btn-success"
        ng-disabled="todoForm.$invalid"
        ng-click="todoCtrl.addTodo(todoItem)"
      >
        Submit
      </button>
      <button
        id="delete-all"
        class="btn btn-danger"
        ng-disabled="!todoCtrl.getTodos().length"
        ng-click="todoCtrl.clear()"
      >
        Delete all
      </button>
    </form>
    <!-- End of new todo input form -->
  </div>
</div>
<!-- End of .row container -->
