* {
  font-family: 'DotGothic16', sans-serif;
  font-size: calc(16px + 0.1vw);
}

body {
  background-color: #004a75 !important;
}

#title {
  color: #cdedff;
}

div.row > * {
  float: left;
}

button {
  font-size: calc(12px + 0.1vw) !important;
}

/* NEW TODO INPUT FORM */
#input-todo-help {
  display: block;
  color: #cdedff;
}

#submit-todo {
  float: left;
  clear: left;
}

#delete-all {
  float: right;
}

/* TODO CARDS */
.card {
  box-shadow: 0 3vw 2vw -2vw #001622;
  border-width: 4px !important;
}

.card-footer {
  display: flex;
  justify-content: right;
}
